<%- include('partials/header'); %>
<main class="contact-main">
   <div class="contact-main-form">
    <div class="contact-main-form-image">
        
    </div>
    <div class="contact-main-formu">
        <form action="">
            <label for="">Nombre</label>
            <input type="text"  class="input-style">
            <label for="">Email</label>
            <input type="email" class="input-style">
            <label for="">Mensaje</label>
            <textarea name="" id="" cols="30" rows="10"  class="textarea">
                
            </textarea>
            <button type="submit" class="btn">Enviar</button>
        </form>
    </div>
   </div>    
</main>
<%- include('partials/footer'); %> 