<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<style>

:root {
  --primary-color: #2196f3;
  --second-color:#b9ffff;
  --three-color: white;
}

  body{
    background-color: var(--second-color) ;
  }
</style>
<body>
  <header class="nav-bag">
    <div>
      <h1>Medi <span>médicas</span></h1>
    </div>
    <nav>
      
    </nav>

  </header>
  
